html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} 

body { 
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.3875rem 2.5rem 2.5rem 2.5rem;
    max-width: 79.6875rem;
    margin: auto;
}

a,a:visited,a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, button {
    font-family: 'Poppins', sans-serif;
}

.header {
    margin-bottom: 4.3625rem;
}

.header__logo img{
    width: 35%;
    max-width: 12.5rem;
}

.hero__image img{
    width: 100%;
    margin-bottom: 3.75rem;
}

.hero__text {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
}

.hero__text h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    max-width: 30.4375rem;
}

.hero__text p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.5rem;
    max-width: 32.5rem;
}

.hero__text button {
    padding: 0.6875rem 4.6875rem;
    border-radius: 1.25rem;
    border: none;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

.hero__text button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.footer__socials {
    color: white;
    text-align: center;
}

.footer__socials ion-icon {
    font-size: 1.71875rem;
    cursor: pointer;
}

.footer__socials ion-icon:hover {
    color: hsl(300, 69%, 71%);
}

.footer__socials ion-icon:not(:last-child) {
    margin-right: 0.625rem;
}


@media screen and (min-width: 60em) {

    body {
        background-image: url(../images/bg-desktop.svg);
        background-color: hsl(257, 40%, 49%);
        padding: 4rem 0rem 2.5rem 5rem;
    }

    .hero {
        display: flex;
    }

    .hero__image img{
        max-width: 43.5rem;
        margin-right: 3.6875rem;
    }

    .hero__text {
        text-align: left;
        margin-bottom: 0;
    }

    .hero__text h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }

    .hero__text p {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }

}